<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le styles -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet"> -->
    <!-- + + + + + + + + + + + + + + + + + + + + -->
    <link rel='stylesheet' href='/stylesheets/tweet.css' />
  </head>
  <body class="container">
    <div class="page-header">
        <h1>Vine View</h1>
    </div>
    <div id="video-wrapper">
        <% for(var o in tweets){ %>
        <video id='post_html5_api' class='v-clip' loop='' preload='auto' src='<%= tweets[o].source_url %>' muted autoplay></video>
        <% } %>
    </div>
<!-- ================================================== -->
<!-- JavaScript -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<!-- Socket.IOのJSファイルをインポートする -->
<script src="/socket.io/socket.io.js"></script>
<!-- js -->
<script type="text/javascript">
$(function(){
    var socket = io.connect();
    //
    socket.on('message:vine', function (data) {
        var video = $("<video id='post_html5_api' class='v-clip' loop='' preload='auto' src='"+data.message+"' muted autoplay></video>");
        $("body #video-wrapper").prepend(video);
        $(video).attr("id", Math.random());
        //
    });
});
</script>
</body>
</html>